body {
    background-color: #8c9db3;
    text-align: center;
    font-family: sans-serif;
}

h1 {
    color: #0c235a;
}

button {
    background-color: #4868ab;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
}