body {
    margin: 0;
    background-color: #cccccc;
    font-family: sans-serif;
    color: #555;
}




header {
    background-color: #183368;
    color: rgba(172, 172, 172, 0.736);
    text-align: center;
    padding: 30px 20px;
}

header h1 {
    margin: 0 0 10px;
}



main {
    width: 90%;
    max-width: 700px;
    margin: 30px auto;
}



.form-section {
    background-color: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

h2 {
    color: #2c2a3f;
    text-align: center;
}


label {
    display: block;
    margin-top: 20px;
    margin-bottom: 8px;
    font-weight: bold;
}


input,
textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    border: 2px solid #676c78;
    border-radius: 12px;
    font-size: 16px;
}


textarea {
    height: 150px;
    resize: vertical;
}




button {
    display: block;
    margin: 25px auto 0;

    background-color: #45779e;
    color: white;

    border: none;
    border-radius: 25px;

    padding: 12px 30px;

    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #2e2992;
}



.records-section {
    margin-top: 40px;
}


.record {
    background-color: white;

    margin: 20px 0;
    padding: 20px;

    border-radius: 20px;

    border-left: 6px solid #122787;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}


.record h3 {
    color: #baa84b;
    margin-top: 0;
}


.record .date {
    color: #999;
}



footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px;

    color: #aaa;
}



@media (max-width: 600px) {

    main {
        width: 90%;
    }

    .form-section {
        padding: 20px;
    }

    header h1 {
        font-size: 24px;
    }

}